{% extends 'base.html' %}
{% load my_tags %}

{% block content %}
<div class="container tournament-chart">
    <div id="contents">
        <div class="team_manage" style="display: none;"></div>
        <div class="bracket_overflow">
            <div class="match_list_outer" id="bracket">
                <div class="round_set_outer">
                    <div class="round_set">
                        <p class="screen">Round of 16</p>
                    </div>
                    <div class="round_set">
                        <p class="screen">Quarterfinals</p>
                    </div>
                    <div class="round_set">
                        <p class="screen">Semifinals</p>
                    </div>
                    <div class="round_set">
                        <p class="screen">Final</p>
                    </div>
                </div>
                {% for sublist in participants %}
                    {% for participant in sublist %}
                    <div class="players">
                        <div class="match01 round_group">
                            <div class="match_g01">
                                <div class="match_list">
                                    <p class="bracket_num">#<em>{{forloop.counter}}</em></p>
                                    <div class="box_s">                                    
                                        <div class="match_list_cont01 l01"><span>{{forloop.counter}}</span>
                                            <div><p>Player{{participant}}</p></div>
                                        </div>
                                        
                                        <!-- <div class="match_list_cont02 l01"><span>{{forloop.counter}}</span>
                                            <div><p>Player{{participant}}</p></div>
                                        </div> -->
                                        
                                    </div>
                                </div>
                                <div class="match_list bottom01"></div>
                            </div>
                        </div>                    
                    </div>
                    {% endfor %}
                {% endfor %}
                {% endwith %}
            </div>

        </div>
    </div>
</div>

{% endblock %}