* {
    -webkit-text-size-adjust: none;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box;
    -moz-box-sizing: content-box !important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.navbar {
    margin-bottom: 3em;
}

.round_set_outer {
    position: relative;
    top: 0;
    left: -50px;
    padding: 15px 100px 25px 50px;
    z-index: 99999;
}

.round_set_outer {
    text-align: left;
}

.round_set {
    display: inline-block;
    margin-right: 77px;
}

.round_set_outer > .round_set:not(:first-child) {
    /* position: relative; */
    margin-left: 77px  !important;
}

.round_set .screen {
    line-height: 36px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #e2e2e2;
    background: #f6f6f6;
}

.screen {
    border: 0 none !important;
}

.match_list_outer {
    display: inline-block;
    padding: 0 15px;
    white-space: nowrap;
    /* line-height: 1rem; */
    /* font-size: 0; */
    /* letter-spacing: -5px; */
    vertical-align: top;
}

.match_list_cont01 div p, .match_list_cont02 div p {
    padding-left: 7px;
    width: 118px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.match_02, .match_03, .match_04, .match_05{
    margin-left: 77px;
}

.round_group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#bracket {
    background: #fff;
}

#players {
    display: inline-block !important;
    vertical-align: top;
}

#players .match_02 {
    padding-top: 48px;
}

#players .match_02 .bottom01{
    margin: 160px 0;
}

#players .match_03 .bottom01{
    margin: 400px 0;
}

#players .match_04 .bottom01{
    margin: 500px 0;
}

#players .match_05 .bottom01{
    margin: 700px 0;
}

.match_list {
    position: relative;
    width: 190px;
    padding-top: 28px;
}

#players .match_list {
    height: 150px;
}


#players .match_03 {
    padding-top: 146px;
}

.line_sty01 {
    position: absolute;
    right: -12px;
    width: 50px;
    border: 5px solid #d5d5d5;
    border-radius: 0 5px 0 0;
    border-left: none;
    border-bottom: none;
    display: block;
}


#players .match_02 .line_sty01 {
    top: 24px;
    height: 87px;
}


#players .match_02 .line_sty02_01 {
    top: 24px;
}

#players .match_01 .line_sty02_02 {
    top: -35px;
}

.line_sty02_01 {
    z-index: 3;
}

.line_sty02_01 {
    position: absolute;
    right: -36px;
    width: 26px;
    height: 20px;
    border-top: 2px solid #d5d5d5;
    display: block;
}

.line_sty02_02 {
    z-index: 3;
}

.line_sty02_02{
    position: absolute;
    right: -36px;
    width: 26px;
    height: 20px;
    border-bottom: 2px solid #d5d5d5;
    display: block;
}

#players .match_01 .line_sty03 {
    top: -14px;
    height: 38px;
}

.line_sty03 {
    z-index: 2;
}

.line_sty03 {
    position: absolute;
    right: -12px;
    width: 50px;
    border: 2px solid #d5d5d5;
    border-radius: 0 0 5px 0;
    border-left: none;
    border-top: none;
    display: block;
}

#players .line_sty04 {
    top: 12px;
    height: 11px;
}

.line_sty04 {
    z-index: 1;
    position: absolute;
    right: -12px;
    width: 50px;
    border: 2px solid #d5d5d5;
    border-radius: 0 5px 0 0;
    border-left: none;
    border-bottom: none;
    display: block;
}

.line_sty05 {
    z-index: 1;
}

.line-sty05 {
    position: absolute;
    /* right: -12px; */
    width: 27px;
    border: 2px solid #d5d5d5;
    border-radius: 0 0 5px 0;
    border-left: none;
    border-top: none;
    display: block;
}

.match_list .match_list_cont01:after {
    clear: both;
    display: block;
    visibility: hidden;
    content: '';
}

.match_list .match_list_cont02:after {
    clear: both;
    display: block;
    visibility: hidden;
    content: '';
}

.l01 {
    display: flex;
}

.match_list p.bracket_num {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #adadad;
    background: #ededed;
    border-radius: 5px;
}